<div class="card">
  <ng-container *ngFor="let contact of contacts; let e = even;">
    <div class="card-body mt-1"
         [ngClass]="e ? 'bg-light' : 'bg-info'">
      <div class="d-flex justify-content-between">
        <div>
          {{ contact.firstName }} {{ contact.lastName }}
          <ul class="list-group">
            <ng-container *ngFor="let email of contact.emails;">
              <li class="list-group-item">{{ email }}</li>
            </ng-container>
          </ul>
        </div>
        <div class="align-content-center">
          <button class="btn btn-primary me-3" (click)="onEdit(contact)">Edit</button>
          <button class="btn btn-danger me-3" (click)="onDelete(contact)">Delete</button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

